#titulo {
font-family: Verdana, sans-serif;
font-size: 26px;
}
#descripcion {
text-align: center;
width: 500px;

}

a {
text-decoration: none;
}
p,#descripcion{
 background-color: #999999;
 }
